<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Category Events -->
    <event name="catalog_category_save_before">
        <observer name="st_category_save_before" instance="Bitqit\Searchtap\Observer\Categories" />
    </event>
    <event name="catalog_category_save_after">
        <observer name="st_category_save_after" instance="Bitqit\Searchtap\Observer\Categories" />
    </event>
    <event name="catalog_category_move_after">
        <observer name="st_category_move_after" instance="Bitqit\Searchtap\Observer\Categories"/>
    </event>
    <event name="catalog_category_delete_before">
        <observer name="st_category_delete" instance="Bitqit\Searchtap\Observer\Categories" />
    </event>

    <!-- Product Events -->
    <event name="catalog_product_save_before">
        <observer name="st_product_save_before" instance="Bitqit\Searchtap\Observer\Products" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="st_product_save_before" instance="Bitqit\Searchtap\Observer\Products" />
    </event>
    <event name="catalog_product_attribute_update_before">
        <observer name="st_catalog_product_attribute_update_before" instance="Bitqit\Searchtap\Observer\Attributes" />
    </event>
    <event name="catalog_product_delete_before">
        <observer name="st_product_save_before" instance="Bitqit\Searchtap\Observer\Products" />
    </event>
    <event name="catalog_product_import_bunch_save_after">
       <observer name="st_product_import_bunch_save_after" instance="Bitqit\Searchtap\Observer\Products" />
    </event>

    <event name="catalog_product_import_bunch_delete_commit_before">
        <observer name="st_product_import_bunch_delete_commit_before" instance="Bitqit\Searchtap\Observer\Products" />
    </event>

    <!-- Attribute Events -->
    <event name="catalog_entity_attribute_save_after">
        <observer name="st_entity_attribute_save_after" instance="Bitqit\Searchtap\Observer\Attributes" />
    </event>
    <event name="catalog_entity_attribute_delete_after">
        <observer name="st_entity_attribute_delete_after" instance="Bitqit\Searchtap\Observer\Attributes" />
    </event>

    <!-- Flush images cache -->
    <event name="clean_catalog_images_cache_after">
        <observer name="flush_varnish_pagecache" instance="Bitqit\Searchtap\Observer\FlushImageCache"/>
    </event>
</config>
