<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="searchtap" translate="label">
            <label>Searchtap</label>
        </tab>
        <section id="st_configuration" translate="label" sortOrder="130" showInDefault="7" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>searchtap</tab>
            <resource>Bitqit_Searchtap::searchtap_config</resource>

            <!-- Option For Setting tabs  -->

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Searchtap Configuration</label>
                <field id="st_store" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Store</label>
                    <validate>required-entry</validate>
                    <source_model>Bitqit\Searchtap\Model\Config\Source\GetStore</source_model>
                </field>      
                <field id="st_collection" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Collection Name</label>
                    <validate>required-entry</validate>
                    <comment>Get the collection name from searchtap dashboard.</comment>
                </field>
                <field id="st_admin_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Admin Key</label>
                    <validate>required-entry</validate>
                    <comment>Get the admin from searchtap dashboard.</comment>
                </field>
                <field id="st_application_id" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Application ID</label>
                    <validate>required-entry</validate>
                    <comment>Get the application id from searchtap dashboard.</comment>
                </field>         
            </group>
     <group id="image" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Images</label>
                <field id="st_image_width" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Image Width</label>
                    <validate>required-entry</validate>
                </field>
                <field id="st_image_height" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Image Height</label>
                    <validate>required-entry</validate>
                </field>
            </group>

            <group id="attributes" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Additional Attributes</label>

                <field id="additional_attributes" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Select Attributes</label>
                    <source_model>Bitqit\Searchtap\Model\Config\Source\GetAdditionalAttributes</source_model>
                </field>
            </group>

            <group id="categories" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Categories</label>

                <field id="st_categories_menu" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Include In Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="st_skipcategory" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Skip Category</label>

                    <!--                    <validate>required-entry</validate>-->

                </field>

            </group>
 <group id="st_discount" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Discount Filter</label>

                <field id="st_discount_enabled" translate="label" type="select" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                </field>

            </group>
            <group id="st_template" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Add Template</label>

                <field id="st_html" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Add HTML</label>
                    <comment>Add the HTML template provided by Searchtap</comment>
                </field>
            </group>

        </section>


        <!-- Option For Image Configuration tabs  -->


       <section id="st_imageconfig" translate="label" sortOrder="131" showInDefault="7" showInWebsite="2" showInStore="2">
            <class>separator-top</class>
            <label>Image Config</label>
            <tab>searchtap</tab>
            <resource>Bitqit_Searchtap::searchtap_config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Searchtap Image Configuration</label>
                <field id="st_store" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Base Image</label>

                     
                </field>               
            </group>

        </section>

        <!-- Option For Category Configuration tabs  -->

       <section id="st_category" translate="label" sortOrder="133" showInDefault="7" showInWebsite="3" showInStore="3">
            <class>separator-top</class>
            <label>Category Config</label>
            <tab>searchtap</tab>
            <resource>Bitqit_Searchtap::searchtap_config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Searchtap Category Configuration</label>
                <field id="st_inactivecategory" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Index Inactive Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                     
                </field>
                <field id="st_includeinmenu" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include in Menu Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>

                </field>
                <field id="st_skipcategory" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Skip Category</label>
                    <source_model>Bitqit\Searchtap\Model\Config\Source\GetAllCategory</source_model>
<!--                    <validate>required-entry</validate>-->

                </field>

                <field id="st_customattribute" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Attribute</label>
                    <source_model>Bitqit\Searchtap\Model\Config\Source\GetCategoryAttributes</source_model>
<!--                    <validate>required-entry</validate>-->

                </field>

                <field id="st_emptycategories" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Index Empty Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>

                </field>

            </group>

        </section>


    </system>
</config>
