<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="searchtap" translate="label">
            <label>Searchtap</label>
        </tab>

        <!-- Credentials -->
        <section id="searchtap_credentials" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Credentials</label>
            <tab>searchtap</tab>
            <resource>Bitqit_Searchtap::searchtap_config</resource>
            <group id="credentials" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credentials</label>
                <field id="private_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Private Token</label>
                </field>
            </group>
        </section>

    </system>
</config>
