<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
<!--         Credentials -->
        <section id="searchtap_credentials" translate="label" sortOrder="0" showInDefault="0" showInWebsite="0" showInStore="0">
            <group id="credentials">
                <field id="st_config" type="text" />
                <field id="st_script_url" type="text" />
                <field id="st_css_url" type="text" />
                <field id="st_autocomplete_custom_css" type="text" />
                <field id="st_search_page_custom_css" type="text" />
            </group>
        </section>
    </system>
</config>
